@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Hanoi_Tourism.Models;
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<TDistrict>
@{
    ViewData["Title"] = "ListDistrict";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Category District</h1>

<p>
    <a asp-action="AddDistrict">Create New</a>
</p>

@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert alert-success" role="alert">
        @ViewBag.Message
    </div>
}
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                ImageUrl
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td>
            <td>
                <a asp-action="Edit" asp-route-districtId="@item.DistrictId">Edit</a> |
                    <a asp-action="ShowImagesDistrict" asp-route-districtId="@item.DistrictId">Images</a> |
                    <a href="#" onclick="confirmDelete('@Url.Action("DeleteDistrict", "HomeAdmin", new { districtId = item.DistrictId })')">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div class=".pagination btn-group me-2" role="group" aria-label="First group">
    @Html.PagedListPager(Model,
    page => Url.Action("ListDistrict", new { page = page }),
    new X.PagedList.Web.Common.PagedListRenderOptions
    {
    UlElementClasses = new[] { "pagination" },
    LiElementClasses = new[] { "page-item" },
    PageClasses = new[] { "page-link", "btn", "btn-info" }
    })

</div>
<script>
    function confirmDelete(deleteUrl) {
        if (confirm("Bạn có chắc chắn muốn xóa?")) {
            window.location.href = deleteUrl;
        }
    }
</script>