@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Hanoi_Tourism.Models;
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<TStreet>
@{
    ViewData["Title"] = "ListStreet";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Category Street</h1>

<p>
    <a asp-action="AddStreet">Create New</a>
</p>
@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert alert-success" role="alert">
        @ViewBag.Message
    </div>
}
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                District
            </th>
            <th>
                Latitude
            </th>
            <th>
                Longitude
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.District.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Latitude)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Longitude)
                </td>

                <td>
                    <a asp-action="UpdateStreet" asp-route-streetId="@item.StreetId">Edit</a> |
                    <a asp-action="ShowImagesStreet" asp-route-streetId="@item.StreetId">Images</a> |
                    <a href="#" onclick="confirmDelete('@Url.Action("DeleteStreet", "HomeAdmin", new { streetId = item.StreetId })')">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class=".pagination btn-group me-2" role="group" aria-label="First group">
    @Html.PagedListPager(Model,
            page => Url.Action("ListStreet", new { page = page }),
            new X.PagedList.Web.Common.PagedListRenderOptions
    {
        UlElementClasses = new[] { "pagination" },
        LiElementClasses = new[] { "page-item" },
        PageClasses = new[] { "page-link", "btn", "btn-info" }
    })

</div>
<script>
    function confirmDelete(deleteUrl) {
        if (confirm("Bạn có chắc chắn muốn xóa?")) {
            window.location.href = deleteUrl;
        }
    }
</script>

