@model Hanoi_Tourism.Models.THistoricalSiteReview
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers;

@{
    ViewData["Title"] = "AddUserReviewHis";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<div class="container py-5" style="background-color: #f2f2f2 !important;">
    <div class="mx-auto text-center mb-5" style="max-width: 900px;">
        <h5 class="section-title px-3">Review Now!</h5>
        <h1 class="mb-0">Review Form</h1>
    </div>
    <div class="row g-5 align-items-center" style="justify-content: center;">

        <div class="col-lg-8">
            <h3 class="mb-2">Sending our thanks to all of you!</h3>
            <p class="mb-4">
                We want to express our heartfelt gratitude to you for taking the time to share your experiences at these locations.
                Your feedback not only helps these places improve their services but also contributes to building a supportive community for visitors in Vietnam.
                Thank you very much!
            </p>
            <form asp-action="AddUserReviewHis">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row g-3">
                    <div class="col-md-6 form-group">
                        <div class="form-floating">
                            <input asp-for="ReviewId" type="text" class="form-control border-0" placeholder="ReviewId" value="@ViewBag.ReviewId" readonly>
                            <label asp-for="ReviewId" class="control-label">ReviewId</label>
                            <span asp-validation-for="ReviewId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        <div class="form-floating">
                            <select asp-for="SiteId" class="form-control border-0" readonly>
                                <option value="@ViewBag.SiteId">@ViewBag.Name</option>
                            </select>
                            <label asp-for="SiteId" class="control-label">Historical Site</label>
                        </div>
                    </div>
                    <div class="col-12 form-group">
                        <div class="form-floating">
                            <select asp-for="UserId" class="form-control border-0" readonly>
                                <option value="@ViewBag.UserId">@ViewBag.UserName</option>
                            </select>
                            <label asp-for="UserId" class="control-label">UserName</label>
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        <div class="form-floating">
                            <input asp-for="Date" class="form-control border-0" placeholder="Date" type="date" id="reviewDate">
                            <label asp-for="Date" class="control-label">Date</label>
                            <span asp-validation-for="Date" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        <div class="form-floating">
                            <select id="quantity" asp-for="Rating" type="text" class="form-control border-0" placeholder="Rating">
                                @for (int i = 1; i <= 5; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                            <label asp-for="Rating" class="control-label">Rating</label>
                            <span asp-validation-for="Rating" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-12 form-group">
                        <div class="form-floating">
                            <textarea asp-for="Comment" class="form-control border-0" placeholder="Leave a review here"
                                      style="height: 160px"></textarea>
                            <label asp-for="Comment" class="control-label">Comment</label>
                            <span asp-validation-for="Comment" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-12 form-group">
                        <button class="btn btn-primary w-100 py-3" type="submit" value="Create">Send Review</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<style>
    .btn.btn-primary:hover {
        box-shadow: inset 1000px 0 0 0 var(--bs-light) !important;
        color: var(--bs-primary) !important;
    }
</style>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    // Function to calculate due date based on review date
    function prepareModal() {
        // Lấy thời gian hiện tại
        var currentDate = new Date();

        // Format thời gian theo YYYY-MM-DD để có thể sử dụng cho trường input type="date"
        var formattedDate = currentDate.toISOString().split('T')[0];

        // Đặt giá trị cho trường input date trong form
        document.getElementById("reviewDate").value = formattedDate;
        return formattedDate;
    }

    // Attach the checkQuantity function to the change event using jQuery
    $(document).ready(function () {
        prepareModal();

        // Đặt giá trị mặc định cho quantity
        var defaultQuantity = 1;
        $("#quantity").val(defaultQuantity);

    });
    // Reset form fields when the modal is hidden
    $('#staticBackdrop').on('hidden.bs.modal', function () {
        document.getElementById("myForm").reset();
    });

</script>

